<div *ngIf="!userVerified; else secQuestionsView" class="container mini">
    <h1>Reset Password</h1>
    <hr>
    <form class="stock-form"  name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
        <div class="alert alert-danger" role="alert" *ngIf="getUserError">
            Username not found!
        </div>
        <div class="form-group">
            <label for="name">Username</label>
            <input id="name" name="name" type="text" [(ngModel)]="user.username" required #name="ngModel" autocomplete="off">
            <div class="alert alert-danger" role="alert" *ngIf="name.errors && f.submitted">
                Username is required!
            </div>
        </div>

        <div class="button-containers">
            <button (click)="askSecQuestions()" >Next</button>
            <button class="no-fill margin-3"  (click)="gotoLogin()" >Cancel</button>
        </div>
    </form>
</div>

<ng-template #secQuestionsView>
    <div class="container mini" *ngIf="verifyQuestions">
        <h1>Reset Password</h1>
        <hr>
        <form class="stock-form"  name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
            <div class="alert alert-danger" role="alert" *ngIf="invalidSecAns">
                Answers not valid!
            </div>
            <div class="extra-margin">
                <div class="form-group">
                    <label for="sec1">Security Question 1</label>
                    <input id="sec1" name="sec1" type="text" [(ngModel)]="user.firstSecurityQuestion" readonly>
                </div>
                <div class="form-group">
                    <label for="answer1">Answer</label>
                    <input id="answer1" name="answer1" type="text" [(ngModel)]="a1" required #answer1="ngModel" autocomplete="off">
                    <div class="alert alert-danger" role="alert" *ngIf="answer1.errors && f.submitted">
                        Answer is required!
                    </div>
                </div>
            </div>

            <div class="extra-margin">
                <div class="form-group">
                    <label for="sec2">Security Question 2</label>
                    <input id="sec2" name="sec2" type="text" [(ngModel)]="user.secondSecurityQuestion" readonly>
                </div>
                <div class="form-group">
                    <label for="answer2">Answer</label>
                    <input id="answer2" name="answer2" type="text" [(ngModel)]="a2" required #answer2="ngModel" autocomplete="off">
                    <div class="alert alert-danger" role="alert" *ngIf="answer2.errors && f.submitted">
                        Answer is required!
                    </div>
                </div>
            </div>

            <div class="extra-margin">
                <div class="form-group">
                    <label for="sec3">Security Question 3</label>
                    <input id="sec3" name="sec3" type="text" [(ngModel)]="user.thirdSecurityQuestion" readonly>
                </div>
                <div class="form-group">
                    <label for="answer3">Answer</label>
                    <input id="answer3" name="answer3" type="text" [(ngModel)]="a3" required #answer3="ngModel" autocomplete="off">
                    <div class="alert alert-danger" role="alert" *ngIf="answer3.errors && f.submitted">
                        Answer is required!
                    </div>
                </div>
            </div>
            <div class="button-containers">
                <button (click)="veryQuestions()" >Next</button>
                <button class="no-fill margin-3" (click)="gotoLogin()" >Cancel</button>
            </div>
        </form>
    </div>
    <div class="container mini" *ngIf="changePassword">
        <h1>Reset Password</h1>
        <hr>
        <form class="stock-form"  name="form" (ngSubmit)="f.form.valid" #f="ngForm" novalidate>
            <div class="form-group">
                <label for="password">New Password</label>
                <input id="password" name="password" type="password" [(ngModel)]="user.astring" required autocomplete="off" #password="ngModel">
                <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
                    Password is required!
                </div>
            </div>
            <div class="form-group">
                <label for="rePassword">Re-enter New Password</label>
                <input id="rePassword" name="rePassword" type="password" [(ngModel)]="rePassword" required autocomplete="off">
                <div class="alert alert-danger" role="alert" *ngIf="rePassword !== user.astring && f.submitted">
                    Passwords do not match!
                </div>
            </div>
            <div class="button-containers">
                <button (click)="changePass()" >Save</button>
                <button class="no-fill margin-3" (click)="gotoLogin()" >Cancel</button>
            </div>
        </form>
    </div>

</ng-template>
