.pagination{
    margin: 0 0 2.5em 30%;
    font-size: .8em;
}
.static-info{
    margin: .8em 0 .8em 8em;
}
.button-containers{
    margin: 2% 0 2% 27%;
}
.margin-3{
    font-size: 1em;
    margin-left: 2em;
}
