<app-nav-bar [itemId]=4></app-nav-bar>

<div class="container" *ngIf="customerTable; else editCustomerTemplate">
    <div class="header-div">
        <h1>Customers</h1>
        <div class="stock-search">
            <input type="search" placeholder="Search by name" (keyup.enter)="search()" name="search" [(ngModel)]="searchString" (search)="search()">
            <button (click)="search()"><img src="assets/search-line.svg" alt="search"></button>
        </div>
    </div>
    <hr>
    <div class="table-div">
        <table>
            <colgroup>
                <col span="1" style="width: 37%;">
                <col span="1" style="width: 17%;">
                <col span="1" style="width: 17%;">
                <col span="1" style="width: 17%;">
                <col span="1" style="width: 12%;">
            </colgroup>
            <tbody>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Address</th>
                <th>Edit</th>
            </tr>
            <tr class="table-row"  *ngFor="let customer of customers; let i = index">
                <td>{{customer.name}}</td>
                <td>{{customer.phoneNumber}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.address}}</td>
                <td><button style=" height: 1em; border: none" (click)="edit(i)"> <img src="assets/pencil-line.svg"  alt="edit"> </button></td>
            </tr>
            </tbody>

        </table>
    </div>
    <app-pagination class="pagination" [$currentIndex]="currentPage" [$maxPage]="totalPages" [getPageFunction]="getPage"></app-pagination>

</div>

<ng-template #editCustomerTemplate>
    <div class="container mini">
        <h1>New Customer</h1>
        <hr>
        <form class="stock-form"  name="form" (ngSubmit)="f.form.valid && updateCustomer(f)" #f="ngForm" novalidate>
            <div class="alert alert-danger" role="alert" *ngIf="createCustomerError">
                Customer not updated
            </div>
            <div class="form-group">
                <label for="name">Name</label>
                <input id="name" name="name" type="text" [(ngModel)]="customer.name" required #name="ngModel" autocomplete="off">
                <div class="alert alert-danger" role="alert" *ngIf="name.errors && f.submitted">
                    Name is required!
                </div>
            </div>
            <div class="form-group">
                <label for="sku">Phone Number</label>
                <input id="sku" name="sku" type="text" [(ngModel)]="customer.phoneNumber" required #sku="ngModel" autocomplete="off">
                <div class="alert alert-danger" role="alert" *ngIf="sku.errors && f.submitted">
                    Phone Number is required!
                </div>
            </div>
            <div class="form-group">
                <label for="email">email</label>
                <input id="email" name="email" type="email" [(ngModel)]="customer.email" autocomplete="off" #email="ngModel">
                <div class="alert alert-danger" role="alert" *ngIf="email.errors && f.submitted">
                    email is required!
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address</label>
                <input id="address" name="address" type="text" [(ngModel)]="customer.address" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="cardNumber">Loyalty Card Number</label>
                <input id="cardNumber" list="cards" name="cardNumber" type="text" [(ngModel)]="loyaltyCard"  required #card="ngModel" autocomplete="off" (keyup)="getLoyaltyCards()">
                <datalist id="cards">
                    <option *ngFor="let lc of loyaltyCards" [value]="lc.cardNumber">{{lc.cardNumber}}</option>
                </datalist>
                <div class="alert alert-danger" role="alert" *ngIf="card.errors && f.submitted">
                    Loyalty Card Number is required!
                </div>
            </div>
            <div class="button-containers">
                <button (click)="updateCustomer(f)">Save</button>
                <button class="no-fill margin-3" (click)="back()" >Cancel</button>
            </div>
        </form>
    </div>
</ng-template>
