<app-nav-bar [itemId]=5></app-nav-bar>

<div class="container">
    <h1>Sales</h1>
    <hr>
    <div class="form-container">
        <div class="form-group inline">
            <label for="users">User</label>
            <input list="users" placeholder="Select a user" (input)="filterSales()" [(ngModel)]="username" >
            <datalist id="users" >
                <option *ngFor="let user of users">{{user}}</option>
            </datalist>
        </div>

        <div class="form-group inline right">
            <label for="soldOn">Sold On</label>
            <input id="soldOn" [(ngModel)]="date" type="date">
        </div>
    </div>
    <div>
        <table>
            <tr >
                <th>Username</th>
                <th>Sold On</th>
                <th>Amount</th>
                <th>View</th>
            </tr>
            <tr class="table-row"  *ngFor="let sale of filteredSales">
                <td>{{sale.postingUser.username}}</td>
                <td>{{sale.saleDate}}</td>
                <td>{{sale.price}}</td>
                <td>View</td>
            </tr>
            <tr class="table-row" >
                <td></td>
                <td></td>
                <td style="row-span: 2">{{total}}</td>
            </tr>
        </table>
    </div>
</div>

