<app-nav-bar [itemId]=5></app-nav-bar>
<div class="make-sale-container">
    <form class="make-sale-form" autocomplete="off">
        <div class="form-group ">
            <label for="sku" >SKU</label>
            <input id="sku" class="loyalty-input" name="sku" type="text" [(ngModel)]="sku" autofocus (keyup.enter)="addSaleItem()">
        </div>
<!--        <div class="form-group ">-->
<!--            <label for="name" >Name</label>-->
<!--            <input id="name" class="loyalty-input" name="name" type="text" [(ngModel)]="name" >-->
<!--        </div>-->
        <div class="form-group ">
            <label for="quantity" >Quantity</label>
            <input id="quantity" name="quantity" type="text" [(ngModel)]="quantity" >
        </div>
        <button class="add-button" type="button" (click)="addSaleItem()"> Add &#43;</button>
    </form>

    <div class="make-sale-table">
        <div class="table-div">
            <table >
                <tr >
                    <th>Item</th>
                    <th></th>
                    <th>Total Price</th>
                    <th>Remove</th>
                </tr>

                <tr class="table-row" *ngFor="let saleItem of sale.saleItems; index as i ">
                    <td>{{saleItem.stock.name}}</td>
                    <td>{{saleItem.quantity}} X ${{saleItem.stock.sellingPrice}}</td>
                    <td>${{saleItem.quantity * saleItem.stock.sellingPrice}} </td>
                    <td><button (click)="removeSaleItem(i)"><img src="assets/close-icon.png" alt="remove item"></button></td>
                </tr>

            </table>
        </div>

        <div class="button-containers">
            <button (click)="pay()" >Pay</button>
            <button class="no-fill clear-button" (click)="clearSaleItems()" >Clear</button>
        </div>
    </div>

</div>

<div class="pay-container">
    <div>
        <h2>Payment</h2>
        <hr>
    </div>
    <div class="payment-flex">
        <div class="form-group ">
            <label for="loyaltyCard" >Loyalty Card</label>
            <input id="loyaltyCard" class="loyalty-input" name="loyaltyCard" type="text" [(ngModel)]="loyaltyCard" autocomplete="off" autofocus (keyup.enter)="addLoyaltyCard()">
            <div id="loyaltyCardError" class="alert alert-danger" role="alert">
                Invalid Loyalty Card !
            </div>
        </div>
        <button class="add-button" (click)="addLoyaltyCard()"> Add </button>
    </div>

    <div class="form-group ">
        <label for="pointsAvailable" >Points Available</label>
        <input id="pointsAvailable" name="pointsAvailable" type="number" [(ngModel)]="pointsAvailable" readonly>
    </div>

    <hr>

    <div class="payment-flex">
        <div class="discounts">
            <div class="form-group ">
                <label for="usePoints" >Use Points</label>
                <input id="usePoints" name="usePoints" type="number" [(ngModel)]="usePoints" autocomplete="off">
                <div id="usePointsError" class="alert alert-danger" role="alert" *ngIf="usePoints > maxRedeemablePoints">
                    Max of {{maxRedeemablePoints}}
                </div>
            </div>
            <button id="usePointsApply" class="add-button" (click)="redeemPoints()"> Use Points </button>
            <button id="usePointsRemove" class="no-fill clear-button" (click)="unRedeemPoints()"> Remove </button>
        </div>
        <div class="discounts">
            <div class="form-group ">
                <label for="discountCode" >Discount Code</label>
                <input id="discountCode" name="discountCode" type="text" [(ngModel)]="discountCode" autocomplete="off">
            </div>
            <button id="applyDiscount" class="add-button" (click)="applyDiscount()"> Apply </button>
            <button id="applyDiscountRemove" class="no-fill clear-button" (click)="removeDiscount()"> Remove </button>
        </div>
    </div>

    <hr>

    <div>
        <h3>Total ($): {{total}}</h3>
        <div class="form-group ">
            <label for="cash" >Cash ($)</label>
            <input id="cash" name="cash" type="number" [(ngModel)]="cash" >
        </div>

        <div class="form-group ">
            <label for="change" >Change ($)</label>
            <input id="change" name="cash" type="number" [(ngModel)]="cash-total" readonly>
        </div>

        <div class="button-containers">
            <button (click)="complete()" >Complete</button>
            <button class="no-fill margin-3" (click)="back()" >Back</button>
        </div>
    </div>

</div>
