.make-sale-container{
    display: flex;
    background-color: white;
    border-radius: .3em;
    margin: 2em 4em;
    padding: 2em;
    gap: 2em;
}
.buttons-grid {
    flex: 1;
    display: grid;
    grid-template-areas: "b1 b2"
                       "b3 b4"
                       "b5 b6"
                       "add-cash remit"
                       "b7 b8"
                       "b9 b10"
                       "pay pay";
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: repeat(6, auto);
    column-gap: 1em;
    row-gap: 1em;
    font-size: 0.8em;
}
.pricing {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: repeat(2, auto);
    column-gap: 1em;
    row-gap: .5em;
    /*font-size: 0.8em;*/
    border-top-color: var(--passive-color);
    border-top-style: solid;
    border-top-width: 0.2em;
    align-items: center;
}
.make-sale-table{
    flex: 2;
}
.table-div{
    overflow: auto;
    min-height: 55vh;
    max-height: 70vh;
}

.add-button{
    margin-top: 2em;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}
.button-containers{
    margin: 4% 0 0 25%;
}
.payment-flex{
    display: flex;
    align-items: center;
    gap: 10%;
}
.pay-container{
    background-color: white;
    margin: 0 25%;
    border-radius: .3em;
    padding: 0.1em 2em;
    display: none;
}
/*.payment-flex > .form-group{*/
/*    flex: 60%;*/
/*}*/

/*.form-group > input{*/
/*    width: 12em;*/
/*}*/

.form-group > .loyalty-input {
    width: 100%;
}
hr{
    margin: 1em -2em 0;
}

.discounts{
    flex: 50%;
}

.discounts > button {
    margin-top: 0.4em;
}

h2 {
    margin: 0.5em 0 -.4em;
}
h3{
    margin: 0.5em 0
}

.margin-3{
    margin-left: 3em;
    margin-bottom: 1em;
}

button.clear-button {
     margin-left: 0;
}

h4,h5,h6{
    margin: 0;
}
@media (min-width: 300px) and (max-width: 1300px) {
    #sessionDetailsContainer {
        font-size: 0.8em;
    }
}
