<div class="nav-container">
    <ul class="menu-items ">
        <li><app-logo></app-logo></li>
        <li><a class="menu-item" (click)="navigate('/home')"><img srcset="assets/home.svg">Home</a></li>
        <li>
            <a class="menu-item" (click)="showSubMenu($event)"> <img srcset="assets/stock.svg"> Stock</a>
            <div class="dropdown">
               <div class="submenu-backdrop" (click)="hideSubmenu($event)"></div>
                <ul class="submenu">
                    <li> <a (click)="navigate('/register-stock')"> Register Stock </a></li>
                    <li> <a (click)="navigate('/stock-table')"> Stock Table </a></li>
                    <li> <a (click)="navigate('/new-stock-purchase')"> New Stock Purchase </a></li>
                    <li> <a (click)="navigate('/view-stock-purchases')"> View Stock Purchases </a></li>
                    <li> <a (click)="navigate('/stock-transfer')">  Stock Transfer </a></li>
                    <li> <a (click)="navigate('/category')">  Category </a></li>
                    <li> <a (click)="navigate('/history')">  Stock History </a></li>
                </ul>
            </div>
        </li>

        <li>
            <a class="menu-item" (click)="showSubMenu($event)"> <img srcset="assets/sale.svg">Sale</a>
            <div class="dropdown">
                <div class="submenu-backdrop" (click)="hideSubmenu($event)"></div>
                <ul class="submenu">
                    <li> <a (click)="navigate('/make-sale')"> Make Sale </a></li>
                    <li> <a (click)="navigate('/view-sales')"> View Sales </a></li>
                    <li> <a (click)="navigate('/discounts')"> Discounts </a></li>
                    <li> <a (click)="navigate('/sessions')"> Sessions </a></li>
                </ul>
            </div>
        </li>
        <li>
            <a class="menu-item" (click)="showSubMenu($event)"> <img srcset="assets/suppliers.svg">Suppliers</a>
            <div class="dropdown">
                <div class="submenu-backdrop" (click)="hideSubmenu($event)"></div>
                <ul class="submenu">
                    <li> <a (click)="navigate('/new-supplier')"> New Supplier </a></li>
                    <li> <a (click)="navigate('/view-suppliers')"> View Suppliers </a></li>
                </ul>
            </div>
        </li>
        <li>
            <a class="menu-item" (click)="showSubMenu($event)"> <img srcset="assets/customers.svg">Customers</a>
            <div class="dropdown">
                <div class="submenu-backdrop" (click)="hideSubmenu($event)"></div>
                <ul class="submenu">
                    <li> <a (click)="navigate('/new-customer')"> New Customer </a></li>
                    <li> <a (click)="navigate('/view-customers')"> View Customers </a></li>
                    <li> <a (click)="navigate('/loyalty-management')"> Loyalty Manager </a></li>
                </ul>
            </div>
        </li>
        <li>
            <a class="menu-item" (click)="showSubMenu($event)"> <img srcset="assets/users.svg">Users</a>
            <div class="dropdown">
                <div class="submenu-backdrop" (click)="hideSubmenu($event)"></div>
                <ul class="submenu">
                    <li> <a (click)="navigate('/new-user')"> New User </a></li>
                    <li> <a (click)="navigate('/view-users')"> View Users </a></li>
                </ul>
            </div>
        </li>
        <li>
            <a class="menu-item" (click)="showSubMenu($event)"> <img style="width: 23px; height: 17px" srcset="assets/book-solid.svg">Books</a>
            <div class="dropdown">
                <div class="submenu-backdrop" (click)="hideSubmenu($event)"></div>
                <ul class="submenu">
                    <li> <a (click)="navigate('/expense')"> Expenses </a></li>
                    <li> <a (click)="navigate('/expense-category')"> Expenses Category </a></li>
                    <li> <a (click)="navigate('/balance-sheet')"> Profit & Loss </a></li>
                    <li> <a (click)="navigate('/evaluation')"> Evaluations </a></li>
                </ul>
            </div>
        </li>
        <li class="logout"><a (click)="logout()"> <img srcset="assets/Logout.svg">Logout</a></li>
    </ul>
</div>
