<div class="nav-container">
    <ul class="menu-items ">
        <li><app-logo></app-logo></li>
        <li><a class="menu-item" (click)="navigate('/home')"><img srcset="assets/home.svg">Home</a></li>
        <li>
            <a class="menu-item" (click)="showSubMenu($event)"> <img srcset="assets/stock.svg"> Stock</a>
            <div class="dropdown">
               <div class="submenu-backdrop" (click)="hideSubmenu($event)"></div>
                <ul class="submenu">
                    <li> <a (click)="navigate('/register-stock')"> Register Stock </a></li>
                    <li> <a (click)="navigate('/stock-table')"> Stock Table </a></li>
                    <li> <a (click)="navigate('/new-stock-purchase')"> New Stock Purchase </a></li>
                    <li> <a (click)="navigate('/view-stock-purchases')"> View Stock Purchases </a></li>
                    <li> <a (click)="navigate('/stock-transfer')">  Stock Transfer </a></li>
                    <li> <a (click)="navigate('/category')">  Category </a></li>
                </ul>
            </div>
        </li>

<!--        <li><a class="menu-item"><img srcset="assets/suppliers.svg" alt="supplier"> Supplier</a></li>-->
<!--        <li><a class="menu-item"><img srcset="assets/customers.svg" alt="customer">Customer</a></li>-->
<!--        <li><a class="menu-item"><img srcset="assets/users.svg" alt="user">User</a></li>-->
        <li>
            <a class="menu-item" (click)="showSubMenu($event)"> <img srcset="assets/sale.svg">Sale</a>
            <div class="dropdown">
                <div class="submenu-backdrop" (click)="hideSubmenu($event)"></div>
                <ul class="submenu">
                    <li> <a (click)="navigate('/make-sale')"> Make Sale </a></li>
                    <li> <a (click)="navigate('/view-sales')"> View Sales </a></li>
                </ul>
            </div>
        </li>
        <li class="logout"><a (click)="logout()"> <img srcset="assets/Logout.svg">Logout</a></li>
    </ul>
</div>
