@font-face {
  font-family: encode-sans;
  src: url(assets/fonts/encode-sans/EncodeSans-Regular.ttf);
}

@font-face {
  font-family: mulish;
  src: url(assets/fonts/mulish/Mulish-Light.ttf);
}

@font-face {
  font-family: mulish;
  src: url(assets/fonts/mulish/Mulish-SemiBold.ttf);
  font-weight: 500;
}

@font-face {
  font-family: mulish;
  src: url(assets/fonts/mulish/Mulish-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: mulish;
  src: url(assets/fonts/mulish/Mulish-ExtraBold.ttf);
  font-weight: 900;
}

:root {
  box-sizing: border-box;
  font-size: calc(1vw + 0.6em);
  --primary-color: #408AF8;
  --secondary-color:  #38ACB5;
  /*--primary-color: #266cc7;*/
  /*--secondary-color:  #26c782;*/
  --passive-color: #8AA0BD;
  --danger-color: #EE3C3C;
}
@media (min-width: 50em) {
  :root {
    font-size: 1.125em;
  }
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6 {
  font-family: mulish, serif;
  /*font-weight: bold;*/
}

button{
  font-family: mulish,serif;
  font-weight: bold;
  padding: .5em 1em;
  border: .1em solid white;
  border-radius: 0.4em;
  font-size: 1em;
  color: white;
  background-color: var(--primary-color);
  cursor: pointer;
}
button.no-fill{
  background-color: white;
  color: var(--passive-color);
  border: .1em solid ;
}
button.no-fill:hover{
  background-color: var(--passive-color);
  color: white;
}
.form-group >label{
  display: block;
  text-align: left;
  padding: .5em 0;
  font-family: mulish,serif;
}
button.clear-button{
  color: var(--danger-color);
  margin-left: 2em;
}
button.clear-button:hover{
  background-color: var(--danger-color);
}
button.no-fill.orange{
  background-color: white;
  color: #c73126;
  border: .1em solid ;
}
button.no-fill:hover.orange{
  background-color: #c73126;
  color: white;
}
button.no-fill.green{
  background-color: white;
  color: var(--secondary-color);
  border: .1em solid ;
}
button.no-fill:hover.green{
  background-color: var(--secondary-color);
  color: white;
}
.form-group >input{
  width: 100%;
  height: 2.2em;
  border-color: #9CA8B9;
  border-radius: .2em;
  border-style: solid;
}
.form-group >select{
  width: 100%;
  height: 2.2em;
  border-color: #9CA8B9;
  border-radius: .2em;
  border-style: solid;
  border-width: 2px;
}
.form-group > textarea{
  width: 100%;
  /*height: 2.2em;*/
  border-color: #9CA8B9;
  border-radius: .2em;
  border-style: solid;
}
.form-group.inline{
  display: inline;
}

.form-group.inline>label{
  display: inline;
  padding-right: 2em;
}

.form-group.inline>input{
  display: inline;
  width: initial;
  margin-right: 2em;
}

.form-group.inline>select{
  display: inline;
  width: initial;
  margin-right: 2em;
}

.form-group >input:active{
  border-color:var(--primary-color);
}
.form-group >input:read-only{
  background-color: #EDEFF2;
  cursor: not-allowed;
}
body{
  background-color: #EDEFF2;
  margin: 0;
  padding: 0;
}
table {
  table-layout: fixed;
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

th{
  font-family: mulish,serif;
  font-weight: 500;
  background-color: #F8F8F8;
  padding: 0.3em 0.5em;
  border-bottom: 0.2em solid rgba(0, 0, 0, 0.25);
}
td{
  font-family: encode-sans,sans-serif;
  padding: 0.3em 0.5em;
}
td>button{
  background-color: inherit;
}
tr.table-row td{
  border-bottom: 0.2em solid #E5E5E5;
}
tr.table-row:hover{
  background-color: #EFF7FF;
}
tr.table-row.no-border td{
  border: none;
}

.total-row{
  border: 0.2em solid #E5E5E5;
  text-align: center;
}
.alert-danger{
  color: red;
  font-family: mulish,serif;
}
.container{
  max-width: 1080px;
  margin: 0 auto;
  background-color: white;
  border-radius: 0.2em;
  padding: 0.3em 1.5em;
}
.container.mini{
  max-width: 720px;
}
hr{
  border: none;
  border-top: .4em solid #EDEFF2;
  margin: 0 -1.5em;
}
.table-div{
  padding:1em 0.5em;
  margin-bottom: 1em;
  overflow: auto;
  max-height: 65vh;
}
h1{
  margin: 0.5em 0;
  color: rgba(0, 0, 0, 0.69);
}
.header-div{
  display: flex;
  align-items: center;
}
.header-div > h1 {
  flex-basis: 70%;
  flex-grow: 1;
  margin: .2em 0;
}
.stock-search{
  flex-basis: 30%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  background-color: rgba(64, 138, 248, 0.24);
  border-radius: .3em;
  border: none;
}
.stock-search > input{
  flex-basis: 90%;
  height: 2.5em;
  background-color: inherit;
  border: none;
  padding: 0 .5em;
}
.stock-search > button{
  flex-basis: 10%;
  height: 2.5em;
  border: none;
  background: inherit;
  font-size: 13.333px;
  border-radius: unset;
}
.stock-form{
  align-items: center;
  padding: 1em 4em;
}
.stock-form>.form-group{
  padding-bottom: 1.5em;
}
.delete-container{
  position: relative;
}
.modal{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.69);
}
.delete-content{
  position: fixed;
  background-color: white;
  z-index: 1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 20em;
  padding: .6em 1.5em;
  font-family: mulish, sans-serif;
  border-radius: .3em;
}
.delete-content>p{
  text-align: center;
}
.delete-content>hr{
  margin: 0 -1.5em;
}
.delete-content>.button-containers{
  margin: 4em 0 2% 20%;
  font-size: 0.8em;
}
