<app-nav-bar [itemId]=0></app-nav-bar>
<div class="home-container">
  <h1 class="home-heading">
    Home
    <div class="heading-border"></div>
  </h1>
  <div class="text inventory-sale-price">
    <p> Inventory Sale Price</p>
    <p> ${{inventorySalePrice}}</p>
  </div>
  <div class="text inventory-cost-price">
    <p> Inventory Cost Price</p>
    <p> ${{inventoryCostPrice}}</p>
  </div>
  <div class="text months-profit">
    <p> Current Month's Profit</p>
    <p> ${{monthsProfit}}</p>
  </div>

  <div class="to-buy-list">
    <div class="to-buy-heading-container">
      <h3>To Buy List</h3>
      <button class="to-buy-download no-fill">Download</button>
    </div>

    <div class="form-group product-container">
      <label for="product" >Product</label>
      <input id="product" name="product" type="text" [(ngModel)]="product" >
      <button> Add &#43;</button>
    </div>

    <div class="table-div">
      <table>
        <tr >
          <th>Name</th>
          <th>Inventory Quantity</th>
          <th>Remove</th>
        </tr>

        <tr class="table-row" *ngFor="let toBuyItem of toBuyItems ">
          <td>{{toBuyItem.stock.name}}</td>
          <td>{{toBuyItem.stock.shelfQuantity + toBuyItem.stock.storeQuantity}}</td>
          <td><button (click)="deleteToBuyItem(toBuyItem.buyItemId)"><img src="assets/close-icon.png" alt="remove item"></button></td>
        </tr>
      </table>
    </div>
    <button class="no-fill clear-button" (click)="clearToBuyItems()" >Clear</button>

  </div>

  <div class="revenue">
    <div class="revenue-border"></div>
    <h3>Revenue</h3>
    <div>
      <canvas #chartCanvas></canvas>
    </div>
  </div>
</div>
