.pagination{
    margin: 0 0 2.5em 28%;
    font-size: .8em;
}
.button-containers{
    margin: 2% 0 2% 30%;
}
.margin-3{
    margin-left: .5em;
}

.modify:disabled>img{
    filter: invert(64%) sepia(16%) saturate(283%) hue-rotate(176deg) brightness(101%) contrast(94%);
}
